<div
  class="relative bg-[#103E52] text-white py-12 sm:py-16 lg:py-20 px-4 sm:px-8 lg:px-16">

  <div class="max-w-7xl mx-auto">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 items-center">

      <!-- Left Content -->
      <div class="order-2 lg:order-1 text-center lg:text-left">

        <p class="text-orange-400 text-sm sm:text-base lg:text-xl mb-4 lg:mb-6  tracking-wide">
          {{slides[current].title}}
        </p>

        <h1 class="text-2xl sm:text-3xl lg:text-5xl font-semibold leading-tight mb-6">
          {{slides[current].heading}}
        </h1>

        <p class="text-base sm:text-lg leading-7 lg:leading-8 text-gray-200">
          {{slides[current].description}}
        </p>

      </div>

      <!-- Right Image -->
      <div class="order-1 lg:order-2 flex justify-center">

        <img
          [src]="slides[current].image"
          class="rounded-lg shadow-lg w-full max-w-md lg:max-w-full object-cover">

      </div>

    </div>

  </div>

  <!-- Previous -->
  <button
    (click)="previous()"
    class="absolute left-2 sm:left-4 lg:left-6 top-1/2 -translate-y-1/2
           w-10 h-10 lg:w-12 lg:h-12 rounded-full
           bg-white/10 hover:bg-white/20 transition">

    <i class="fa-solid fa-chevron-left text-lg lg:text-xl"></i>

  </button>

  <!-- Next -->
  <button
    (click)="next()"
    class="absolute right-2 sm:right-4 lg:right-6 top-1/2 -translate-y-1/2
           w-10 h-10 lg:w-12 lg:h-12 rounded-full
           bg-white/10 hover:bg-white/20 transition">

    <i class="fa-solid fa-chevron-right text-lg lg:text-xl"></i>

  </button>


  <div class="flex justify-center gap-3 mt-8 lg:mt-12">

    <button
      *ngFor="let slide of slides; let i=index"
      (click)="goTo(i)"
      class="w-3 h-3 rounded-full transition-all duration-300"
      [ngClass]="current==i ? 'bg-orange-500 scale-125' : 'bg-gray-500 hover:bg-gray-300'">
    </button>

  </div>

</div>